<div class="container">
    <p id="app"></p>
    <h1 id="bot"></h1>
    </div>
    <div class='container' *ngIf='clair'>
    <form #userlogin = "ngForm" (ngSubmit) = "ClickSubmit(userlogin.value)" >
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" name="name" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1" ngModel>
      </div>
      <button type="submit" class="btn btn-success">Give your name</button>
    </form>
    <br>
    <form #user = "ngForm" (ngSubmit) = "onClickSubmit()" >
      <button type="submit" class="btn btn-danger">Refuse to give your name</button>
    </form>
  </div>
  <div class="container">
    <p *ngIf="yesname">
      <ngb-alert [dismissible]="true" type='dark'>
        <strong>Hi!</strong> {{name}}
      </ngb-alert>
    </p>
  </div>
  <div class="container">
    <p *ngIf="noname">
      <ngb-alert [dismissible]="true" type='dark'>
        <strong>Fine!</strong> We will call you Agent103
      </ngb-alert>
    </p>
  </div>
  <app-story *ngIf='counter'></app-story>
      
