
<div class="jumbotron jumbotron-fluid" style="background-color: black;" *ngIf='open'>
  <div class="container" style="background-color: darkgray;box-shadow: 5px 5px;border: 1px solid lightgray;">
    <h1 class="display-4" style="font-style: bold;">Cipher</h1>
    <p class="lead">It is a mystery quiz, in which you have to solve some puzzles and clues to reach the end. Each Chapter has a hint associated with it. You have a total of 5 lives to complete the quiz. If you use a Hint, one life will be deducted, and if you enter a wrong answer, two lives will be deducted. Try to complete the quiz with as many lives as possible.</p>
  </div>
</div>
<div class="container" *ngIf='open'>
<form #user1 = "ngForm" (ngSubmit) = "InClickSubmit()" >
  <button type="submit" class="btn btn-dark">Start Game</button>
</form>
</div>
<div class="container" style="bottom: 2%;">
  <p style="color: white;">Created by Sachit Mishra</p>
</div>
<app-intro *ngIf='start'></app-intro>
